*.swp
*.un~
*.txt~
.gitignore~
*.npz
*.npy
Makefile~
*.L04
*.L05
*.L06
*.ps
*.pdf
*.pyc
*.py~
*.sh~
*.zip
*.png
*.pkl
*.csv_raw*
*.csv-raw*
*.txt-raw*
*.csv
*_log.csv
*errors.log
error.log
errorlog.txt
local.sh
gmt.history
gmt.conf
gmt.conf.old
__pycache__/
download/
.venv/
